<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Live Map
    </ion-title>
    <ion-button slot="end" (click)="logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Live Map</ion-title>

    </ion-toolbar>
  </ion-header>

  <div id="map" #map></div>

  <ion-button expand="block" (click)="startTracking()" *ngIf="!isTracking">
    <ion-icon name="locate" slot="start"></ion-icon>
    Start Tracking
  </ion-button>

  <ion-button expand="block" (click)="stopTracking()" *ngIf="isTracking">
    <ion-icon name="hand" slot="start"></ion-icon>
    Stop Tracking
  </ion-button>
</ion-content>
