<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>

    </ion-toolbar>
  </ion-header>
  <ion-button (click)="locate()">Location</ion-button>
  <ion-text [textContent]=coords.latitude></ion-text>
  <ion-text><p>Hoge</p></ion-text>
  <ion-text [textContent]=coords.longitude></ion-text>

  <ion-button (click)="watch()">Motion</ion-button>
  <ion-text [textContent]=accelHandler></ion-text>
  <ion-text [textContent]=hello></ion-text>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
