<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to ActivityTracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      By Hasan, Josh, Jacob
    </ion-row>
    <ion-row>
      <img src="assets/icon/icon.png" style="width: 100%">
    </ion-row>
    Please Sign up or Sign in with your account
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/signin']" style="width: 100%">Sign In</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/signup']" style="width: 100%">Sign Up</ion-button>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>
